html, body
{
    height: 100%;
    margin: 0;
}

.header{
  position: fixed;
  top:0px;
  background-color: #C0C0C0	;
  width: 100%;

}

.middleBody{
margin-top:80px;
}

.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #C0C0C0	;
}
