body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

#navBar {
  display: flex;
  background-image: linear-gradient(#70c4f5, #219de5);
  color: white;
}

#navBar #title {
  padding: 19px;
  font-size: 13pt;
  margin-right: 19px;
}

#navBar-links {
  padding: 19px;
  margin: 0;
}

#navBar-links li {
  display: inline;
  padding: 9px 39px;
  margin-left: 9px;
  border-left: 1px solid #ffffff;
  opacity: 82%;
}

#navBar-end {
  margin: auto 10px auto auto;
}

#signout {
  font-size: 16px;
  opacity: 90%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
#form-container {
  margin: auto;
  width: 90%;

}
#form-container h1 {
  font-size: 17pt;
  font-weight: normal;
}
#form-body {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10px;
}
#form-body label {
  margin-top: 14px;
}
#form-body input,
select {
  display: block;
  padding: 10px;
  margin: 10px 0;
  width: 85%;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  font-size: 12pt;
}

#buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}

#buttons input {
  font-size: 14px;
  margin-right: 2.5%;
  padding: 10px;
  background: none;
  border: 2px solid;
  border-radius: 5px;
}

#buttons #reset {
  border-color: rgb(17, 17, 73);
  color: rgb(17, 17, 73);
}

#buttons #cancel {
  border-color: rgb(219, 36, 12);
  color: rgb(219, 36, 12);
}

#buttons #addProduct {
  border-color: rgb(67, 162, 240);
  color: rgb(67, 162, 240);
}
