html,body {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 150%;
    text-align: center;
    padding: 1%;
    background-color: #00E2FA;
}

#navbar {
    background-color: #005760;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    list-style-type: none;
    color: #8b8b8c;
    box-shadow: 1px 0 #0b1413;
    padding: 14px;
}

#column{
    display: flex;
    height: 300px;
}
#column1 {
    flex:1;
    padding:9px;
    background-color: #AAAAAA;
}

#column2 {
    flex:2;
    background-color: #BBBBBB;
    padding: 9px;
}

#column3 {
    flex:1;
    background-color: #CCCCCC;
    padding: 9px;
}
#footer {
    background-color: ##335757;
    text-align: center;
    padding: 1%;
    font-size: 150%;
    color: white;
}
@media screen and (max-width: 600px) {/* any screen < 600px */
    #column{
        flex-wrap: wrap;
    }
    #column > *{
        flex-basis: 200px;
    }
    #column2{
        order: 1;
     }
}
