<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>q3</title>
  </head>
  <body>
    <form action="/result" method="post" target="_self">
      <label>Name<input type="text" name="fullname" /></label>
      <label>Age<input type="text" name="age" /></label>
      <input type="submit" value="Submit Query" />
    </form>
  </body>
</html>
