<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Ask 8 Ball</title>
  </head>
  <body>
    <form id="ask8Ball">
      <input id="question" type="text" name="question" placeholder="Ask me question">
      <input type="submit" name="submit" value="Ask 8 Ball">
    </form>
  </body>
</html>
